[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
psycopg2-binary = "*"
python-decouple = "*"
dj-database-url = "*"
django-froala-editor = "*"
pytest-django = "*"

[requires]
python_version = "3.8"
